  <div id="disqus_thread"></div>
  <script>
        var disqus_config = function () {
            this.page.url = '<%- config.url %><%- page.path %>';
            this.page.identifier = '<%- page.path %>';
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://https-amber916young-github-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
</script>
