<section id="tags" class="tags">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2><i class="bx bx-purchase-tag"></i> <span><%= page.tag %></span> </h2>
        <p></p>
      </div>
      <div class="row content">
        <div class="fade-in-down-animation">
            <div class="tag-container">
                <div class="tag-post-list">
                    <%- partial('_partial/components/archive-list', {posts_new: page.posts}) %>
                </div>
            </div>
            <div class="tag-paginator">
                <%- partial('_partial/tools/paginator', {pageObject: page}) %>
            </div>
        </div>
      </div>
    </div>
</section>