<section id="Category" class="tags">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Category</h2>
        <p></p>
      </div>
      <div class="row content">
        <div class="fade-in-down-animation">
            <div class="category-list-container">
                <div class="category-list-content">
                    <%- list_categories(site.categories, {
                        class: 'all-category'
                    }) %>
                </div>
               
            </div>
        </div>
        
        
      </div>
    </div>
</section>