<div class="toc-content-container " >
    <div class="post-toc-wrap">
        <div class="post-toc">
            <div class="toc-title">On this page</div>
            <div class="page-title"><%= page.title %></div>
            <ol class="nav">
                <% var headings = page.content.match(/<h([2-6]).*?>.*?<\/h\1>/g); %>
                <% if (headings) { %>
                  <% headings.forEach(function (heading) { %>
                    <% var level = heading.match(/^<h([2-6])/)[1]; %>
                    <% var text = heading.replace(/<.*?>/g, ''); %>
                    <li class="nav-item nav-level-<%= level %>">
                        <a class="nav-link" href="#<%= text.replace(/\s+/g, '-') %>">
                            <span class="nav-text"> <%= text %></span>
                        </a>
                    </li>
                  <% }); %>
                <% } %>
            </ol>
        </div>
    </div>
</div>